.back-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    background: transparent; 
    border: none; 
    cursor: pointer;
    min-width: 90px;
    min-height: 90px;
}

.back-button .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.back-button .icon-image {
    width: 60px; 
    height: 60px;
    display: flex;
    max-width: 70px;
}

.back-button:hover img {
    transform: scale(1.1);
}