.back-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px; 
    background: transparent; 
    border: none; 
    cursor: pointer;
    min-width: 90px;
    min-height: 90px;
}

.back-button .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.back-button .icon-image {
    width: 70px !important; 
    height: 70px !important;
    display: flex !important;
    max-width: 70px !important;
}

.back-button:hover img {
    transform: scale(1.1);
}