.wish-detail-modal {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 60%;
    max-width: 800px;
    background-image: url('@/assets/images/ModalBackground.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-information,
.comment-item {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    padding: 0 10px;
}

.avatar,
.avatar-small {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    border-radius: 50%;
}

.nickname {
    margin-left: 10px;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 1);
    background: transparent;
}

.wish-content {
    margin: 50px 50px;
    font-size: 2rem;
    height: 100%;
    color: rgba(114, 140, 154, 1);
    background: rgba(255, 255, 255, 0.75);
    border: rgba(255, 255, 255, 0.75) 1px solid;
    text-decoration: underline;
    text-decoration-color: rgba(150, 190, 212, 1);
    padding: 10px;
    margin-top: 5px;
}

.interaction-bar {
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 50px;
}

.interaction-bar button {
    border: none;
}
