.wish-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.title {
    font-size: 3rem;
    margin-bottom: clamp(30px, 90vh, 60px);
    font-family: 'title';
    color: rgba(254, 255, 245, 1);
}

.wish-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.wish-list img {
    width: 48px;
    height: 48px;
}

.wish-content {
    background: rgba(240, 251, 252, 0.8);
    border-radius: clamp(8px, 2vw, 24px);
    padding: 10px;
}