body {
    background-image: url("../assets/images/background.jpg")
}

.wish-list-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.title {
    font-size: 3rem;
    margin-top: 20px;
    font-family: 'title';
    color: rgba(254, 255, 245, 1);
    margin: 0 auto;
    text-align: center;
}

.header {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}

.wish-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wish-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.wish-list img {
    width: 48px;
    height: 48px;
}

.wish-content {
    background: rgba(240, 251, 252, 0.8);
    border-radius: clamp(8px, 2vw, 24px);
    padding: 10px;
}

.galaxy-body {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 40px;
}

.error-message {
    font-size: 2rem;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

.retry-button {
    font-size: 1.5rem;
    background: rgba(132, 195, 232, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    margin-left: 10px;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.galaxy-status.empty {
    font-size: 2rem;
    color: rgba(255, 255, 255, 1);
}