*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: inherit;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
dl,
dd,
blockquote {
    margin: 0;
    padding: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

img,
svg {
    max-width: 100%;
    display: block;
}

input,
button,
select,
textarea {
    font-family: inherit;
}

body {
    background-image: url('../assets/images/background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}