* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    position: relative;
    min-height: 100vh;
    padding: 0;
    background-image: none;
    background: linear-gradient(180deg, rgba(192, 218, 235, 1) 0%, rgba(132, 195, 232, 1) 100%);
}

.back-button-container {
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    z-index: 100;
}

.title {
    font-size: 2rem;
    color: rgba(254, 255, 245, 1);
    margin-top: 5vh;
    text-align: center;
    font-family: "title";
}

.confirmButton {
    position: absolute;
    right: 20px;
    top: 6vh;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.6);
    border: none;
    font-size: 1rem;
    color: rgba(85, 108, 128, 1);
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
}

.images {
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 10vh auto 0 auto;
    cursor: pointer;
    border: 3px solid transparent;
    transition: border 0.2s ease-in-out;
}

.selectedImage {
    border: 3px solid rgba(255, 255, 255, 0.8); 
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); 
}

.image {
    width: 50%;
    height: 140px;
    display: block;
    object-fit: cover;
    margin: 0 auto;
}