body {
    background-image: url("../assets/images/background.jpg")
}

.public-feed-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%; 
    padding: 0 20px; 
    box-sizing: border-box;
}

.title {
    font-size: 3rem;
    font-family: 'title';
    color: rgba(254, 255, 245, 1);
    text-align: center; 
}

.header > :last-child {
    position: absolute;
    right: 20px; 
}

.danmu-flow {
    width: 100%;
    flex: 1;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.danmu-flow > * {
  width: 90%; 
  max-width: 1200px;
  margin: 0 auto;
}

.action-buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.publish-wish-button,
.check-wish-button {
    margin-bottom: 40px;
    width: clamp(80px, 20vw, 166px);
    height: clamp(40px, 5vh, 48px);
    background: linear-gradient(90deg, rgba(192, 218, 235, 1) 0%, rgba(132, 195, 232, 1) 100%);
    border-radius: clamp(6px, 0.5rem + 0.5vw, 12px);
    color: rgba(254, 255, 245, 1);
    font-size: 1.25rem;
    white-space: nowrap;
    border: none;
    padding: 10px;
}

.profile-button {
    background: none;
    border: none;
    cursor: pointer;
}