.wish-modal {
  background: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wish-form {
  width: 40%;
  height: 60%;
  max-width: 800px;
  background-image: url('@/assets/images/ModalBackground.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-group {
  background: rgba(255, 255, 255, 0.75);
  border: rgba(255, 255, 255, 0.75) 1px solid;
  width: 80%;
  height: 90%;
  margin: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wish-content-text-area {
  width: 80%;
  border: rgba(255, 255, 255, 0.75) 1px solid;
  padding: 10px;
}

textarea {
  background: transparent;
  border: none;
  color: rgba(114, 140, 154, 1);
  width: 100%;
  height: 100%;
  text-decoration: underline;
  font-size: 1.25rem;
  text-decoration-color: rgba(150, 190, 212, 1);
}

textarea:focus {
  outline: none;
}

.profile-information {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.submit-button,
.cancel-button {
  background: rgba(132, 195, 232, 1);
  color: rgba(254, 255, 245, 1);
  border: 0.5px solid rgba(254, 255, 245, 1);
  border-radius: 8px;
  margin-left: 10px;
  width: 130px;
  height: 40px;
}

.modal-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
}

.privacy-button-group {
  background: transparent;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.privacy-button {
  border: rgba(255, 255, 255, 1) 1px solid;
  background: transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
}

.privacy-status {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 1);
}